include /common.pug

doctype html

html(lang="en")
  head
    +commonHeadContent()
    //- Webpack will append CSS assets here

  body
    //- Prepare a window.initialData object for the client.
    //- See src/shared/models/InitialData.ts for more context.
    - var encodedInitialData = encodeURIComponent(JSON.stringify(initialData || {}));
      script(type="text/javascript").
        initialData = JSON.parse(decodeURIComponent("!{encodedInitialData}"));

    #__APP__
    //- Webpack will append JS assets here
